/ Breadcrumbs

.breadcrumbs
  .breadcrumbs-box
    .breadcrumbs-item
      = link_to "Breadcrumb Link #1", root_path, class: "link"
    .breadcrumbs-item
      = link_to "Breadcrumb Link #2", root_path, class: "link"
    .breadcrumbs-item
      = link_to "Breadcrumb Link #3", root_path, class: "link"
    .breadcrumbs-item
      = link_to "Breadcrumb Link #4", root_path, class: "link"
    .breadcrumbs-item
      = link_to "Breadcrumb Link #5", root_path, class: "link"
