%p.font-m
  Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

%code
  Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

.separator-s.dashed-line
= link_to "This is a link", "#", class: "link-xxs"
.separator-s.dashed-line
= link_to "This is a link", "#", class: "link-xs"
.separator-s.dashed-line
= link_to "This is a link", "#", class: "link-s"
.separator-s.dashed-line
= link_to "This is a link", "#", class: "link-m"
.separator-s.dashed-line
= link_to "This is a link", "#", class: "link-l"
.separator-s.dashed-line
= link_to "This is a link", "#", class: "link-xl"
.separator-s.dashed-line
= link_to "This is a link", "#", class: "link-xxl"

.separator-xxl.dashed-line

.auto.left.auto.left.mg-0-4-0-0
  = link_to "#", class: "button-xxl" do
    .icon-xxl.left
      = image_tag "https://via.placeholder.com/512"
    Button XXL
.auto.left.mg-0-4
  = link_to "#", class: "button-xl" do
    .icon-xl.left
      = image_tag "https://via.placeholder.com/512"
    Button XL
.auto.left.mg-0-4
  = link_to "#", class: "button-l" do
    .icon-l.left
      = image_tag "https://via.placeholder.com/512"
    Button L
.auto.left.mg-0-4
  = link_to "#", class: "button-m" do
    .icon-m.left
      = image_tag "https://via.placeholder.com/512"
    Button M
.auto.left.mg-0-4
  = link_to "#", class: "button-s" do
    .icon-s.left
      = image_tag "https://via.placeholder.com/512"
    Button S
.auto.left.mg-0-4
  = link_to "#", class: "button-xs" do
    .icon-xs.left
      = image_tag "https://via.placeholder.com/512"
    Button XS
.auto.left.auto.left.mg-0-0-0-4
  = link_to "#", class: "button-xxs" do
    .icon-xxs.left
      = image_tag "https://via.placeholder.com/512"
    Button XXS

.separator-s

.auto.left.auto.left.mg-0-4-0-0
  = link_to "#", class: "button-xxs outline" do
    .icon-xxs.left
      = image_tag "https://via.placeholder.com/512"
    Button XXL
.auto.left.mg-0-4
  = link_to "#", class: "button-xs outline" do
    .icon-xs.left
      = image_tag "https://via.placeholder.com/512"
    Button XL
.auto.left.mg-0-4
  = link_to "#", class: "button-s outline" do
    .icon-s.left
      = image_tag "https://via.placeholder.com/512"
    Button L
.auto.left.mg-0-4
  = link_to "#", class: "button-m outline" do
    .icon-m.left
      = image_tag "https://via.placeholder.com/512"
    Button M
.auto.left.mg-0-4
  = link_to "#", class: "button-l outline" do
    .icon-l.left
      = image_tag "https://via.placeholder.com/512"
    Button S
.auto.left.mg-0-4
  = link_to "#", class: "button-xl outline" do
    .icon-xl.left
      = image_tag "https://via.placeholder.com/512"
    Button XS
.auto.left.auto.left.mg-0-0-0-4
  = link_to "#", class: "button-xxl outline" do
    .icon-xxl.left
      = image_tag "https://via.placeholder.com/512"
    Button XXS

.separator-xxl.dashed-line

.auto.left.auto.left.mg-0-4-0-0
  = link_to "#", class: "button-xxs" do
    .icon-xxs
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-xs" do
    .icon-xs
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-s" do
    .icon-s
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-m" do
    .icon-m
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-l" do
    .icon-l
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-xl" do
    .icon-xl
      = image_tag "https://via.placeholder.com/512"
.auto.left.auto.left.mg-0-0-0-4
  = link_to "#", class: "button-xxl" do
    .icon-xxl
      = image_tag "https://via.placeholder.com/512"

.separator-s

.auto.left.auto.left.mg-0-4-0-0
  = link_to "#", class: "button-xxl outline" do
    .icon-xxl
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-xl outline" do
    .icon-xl
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-l outline" do
    .icon-l
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-m outline" do
    .icon-m
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-s outline" do
    .icon-s
      = image_tag "https://via.placeholder.com/512"
.auto.left.mg-0-4
  = link_to "#", class: "button-xs outline" do
    .icon-xs
      = image_tag "https://via.placeholder.com/512"
.auto.left.auto.left.mg-0-0-0-4
  = link_to "#", class: "button-xxs outline" do
    .icon-xxs
      = image_tag "https://via.placeholder.com/512"
.separator-xxl.dashed-line
